.card-main {
    background-color: #FFFFFF;
    width: 330px;
    height: 120px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-title {
    display: flex;
    gap: 5px;
}

.card-id {
    text-transform: uppercase;
    color: #84888D;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-tag {
    padding: 4px;
    border: 0.5px solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    color: #84888D;
    border-color: lightgray;
    font-size: 14px;
}

.card-footer-icon {
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    padding: 4px;
    width: 16px;
    height: 16px;
    
}